{% extends 'index.html' %}
  {% block title %}
  {{ actor.name }}
  {% endblock %}
  {% block content %}
          <div class="cast-container">
            <div class="cast-wrap d-flex">
              <div class="row mx-lg-5 my-lg-5 mx-3 my-3">
                <div class="col-auto">
                  <div class="cast-avatar">
                    <img src="{{ actor.photo }}" alt="{{ actor.title }}" width="215">
                  </div>
                </div>
                <div class="col">
                  <div class="cast-info">
                    <div class="cast-name">
                      <h3>{{ actor.name }}</h3>
                    </div>
                    <div class="cast-job">
                      <a href="#">Actor</a>, <a href="#">Model</a>
                    </div>
                    <div class="cast-bio">
                        <p>-</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

          <div class="container-fluid pading-md">
              <section class="wrap">

                <div class="wrap-heading">
                    <h2 class="wrap-heading__title"><a href="list-movies.html">The movie has joined</a></h2>
                </div>
                <!-- /.wrap-heading -->

                <div class="row knowfor">
                  {% for movie in movies %}
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="card bg-dark text-white">
                      <img class="card-img" src="{{ movie.poster }}" alt="Card image">
                      <div class="card-img-overlay px-2 py-5 ">
                        <h4 class="card-title"><a href="{% url 'movie:detail' movie.movieid %}">{{ movie.title|truncatewords:2 }}</a></h4>
                        <p class="card-text card-year">{{ movie.year }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
              </section>
              <!-- /.section -->
          </div>
        {% endblock %}